/* TABLES */
.options-btn {
  display: block;
  margin-top: 0.5em;
  min-width: 10em;
  color: white;
}

.table-btn {
  margin-right: 0.5em;
}

.btn-primary-customization {
  color: #202020;
  border-width: thin;
}

/* INPUT FORMS */
.formLabel {
  padding-right: 2em;
}

input:invalid {
  border-style: solid;
  border-color: red;
  border-width: 2px;
}

textarea {
  min-height: 5em;
}

/* MEDIA */
.grid-media-container {
  display: grid;
  grid-gap: 1em;
  align-items: start;
  justify-items: start;
  grid-template-columns: 1fr 2fr;
}

.grid-media-container video {
  max-width: 500px;
}

@media (max-width: 1100px) {
  .grid-media-container {
    grid-template-columns: 1fr;
  }

  .grid-media-container video {
    max-width: 500px;
  }
}

@media (max-width: 700px) {
  .grid-media-container video {
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .grid-media-container video {
    display: none;
  }
}

/* NAVBAR */
#mapid {
  height: 700px;
}

#customBtn {
  display: inline-block;
  background: white;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
}

#name {
  padding-left: 10px;
}
