.formLabel {
    padding-right: 2em;
}

#pinDescription {
    height: 5em;
}

#pinsList, #issuesList, #worksList,
#createPinBtn, #modifyBtn, .pin-type-selector,
#pin-create-form, #work-create-form {
    display : none;
}

#selectedList {
  border-style: solid;
  border-width: thin;
  border-color: royalblue;
  background-color: #FFFFFF;
  color: #333333;
}


