#actions {
    display: flex;
}

#filtre {
flex: 1;
}

#sesizare {
flex: 1;
}

#filtre label {
    display: block;
}

#sesizare form select {
    display: block;
}

.formLabel {
    padding-right: 2em;
}

#pinDescription {
    height: 5em;
}

.options-btn {
    display: block;
    margin-top: 1em;
    min-width: 10em;
}

#issueList {
    display: none;
    margin: 1em;
}

/* Homepage */

.homepage-container {
	display: flex;
	flex-direction: row-reverse;
}

/* Ultimele sesizari - Home page */

.dot1, .dot2, .dot3 {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin:2px;
    background-color: black;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

#issues-home-list {
    width: 500px;
    height: 500px;
    margin: 20px;
}

#banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-size: cover ;
    height: 50px;
}

.card-contor {
	list-style: none;
	margin-top: 10px;
}

/* Carousel Homepage */

.container-carousel{
	margin: 4% auto;
	width: 210px;
	height: 200px;
	position: relative;
	perspective: 1000px;
}

	@keyframes typing {
		from {width:0} to {width: 100%;}
	}
	@keyframes blink-caret {
		from, to {border-color:transparent}
		50% {border-color:white}
	}


#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}

#carousel:hover{
	animation-play-state: paused;
}

#carousel figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}

#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

.carousel-img{
	-webkit-filter: sepia(1);
	cursor: pointer;
	transition: all .5s ease;
}

.carousel-img:hover{
	-webkit-filter: sepia(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}



