#actions {
  display: flex;
}

#filtre {
  flex: 1;
}

#sesizare {
  flex: 1;
}

#filtre label {
  display: block;
}

#sesizare form select {
  display: block;
}

.formLabel {
  padding-right: 2em;
}

#pinDescription {
  height: 5em;
}

.options-btn {
  display: block;
  margin-top: 0.5em;
  min-width: 10em;
  color: white;
}

#issueList {
  display: none;
  margin: 1em;
}

/* Ultimele sesizari - Homepage */

.dot1, .dot2, .dot3 {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 2px;
  background-color: black;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.card-contor {
  list-style: none;
  margin-top: 10px;
}

.table-btn {
  margin-right: 0.5em;
}

#issue-create-form {
  display: none;
}

.btn-primary-customization {
  color: #202020;
  border-width: thin;
}

input:invalid {
  border-style: solid;
  border-color: red;
  border-width: 2px;
}

textarea {
  min-height: 5em;
}

.grid-media-container {
  display: grid;
  grid-gap: 1em;
  align-items: start;
  justify-items: start;
  grid-template-columns: 1fr 2fr;
}

.grid-media-container video {
  max-width: 500px;
}

@media (max-width: 1100px) {
  .grid-media-container {
    grid-template-columns: 1fr;
  }

  .grid-media-container video {
    max-width: 500px;
  }
}

@media (max-width: 700px) {
  .grid-media-container video {
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .grid-media-container video {
    display: none;
  }
}
