#actions {
  display: flex;
}

#filtre {
  flex: 1;
}

#sesizare {
  flex: 1;
}

#filtre label {
  display: block;
}

#sesizare form select {
  display: block;
}

.formLabel {
  padding-right: 2em;
}

#pinDescription {
  height: 5em;
}

.options-btn {
    display: block;
    margin-top: 1em;
    min-width: 10em;
}

#issueList {
    display: none;
    margin: 1em;
}

/* Homepage */

.homepage-container {
	display: flex;
	flex-direction: row-reverse;
  background-color: white;
}

/* Video Timisoara - Homepage */

#about-Timisoara {
  display: flex;
  margin: 10px;
  align-items: center;
}

.text-Timisoara {
  margin-left: 20px;
  text-align: justify;
}

/* Ultimele sesizari - Homepage */

.dot1, .dot2, .dot3 {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin:2px;
    background-color: black;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

#issues-home-list {
    width: 500px;
    height: 300px;
    margin: 20px;
}

#banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-size: cover ;
    height: 50px;
}

.card-contor {
	list-style: none;
	margin-top: 10px;
}

/* Carousel - Homepage */

.container-carousel {
	margin: 4% auto;
	width: 210px;
	height: 200px;
	position: relative;
	perspective: 1000px;
}

	@keyframes typing {
		from {width:0} to {width: 100%;}
	}
	@keyframes blink-caret {
		from, to {border-color:transparent}
		50% {border-color:white}
	}


#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}

#carousel:hover {
	animation-play-state: paused;
}

#carousel figure {
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}

#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

.carousel-img {
	-webkit-filter: sepia(1);
	cursor: pointer;
	transition: all .5s ease;
}

.carousel-img:hover {
	-webkit-filter: sepia(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

@media (max-width: 980px){
    .homepage-container {
        flex-direction: column;
		align-items: center;
    }
}
@media (max-width: 600px){
    #video video{
		width: 420px;
		height: 340px;
	}
}
@media (max-width: 560px){
	#issues-home-list {
		width: 300px;
		height: 200px;
	}
	#news{
		width: 400px;
	}
	#carousel figure{
		width: 90px;
		height: 70px;
	}
}
@media (max-width: 460px){
    #video video{
		width: 320px;
		height: 240px;
	}
}

/* Help */

.cardhelp {
  display: flex;
}

/* FAQ */

.faq-header{
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

/* Details */

.details-card {
  height: 85%;
}

.details-body {
  background:url('/assets/img/Old_document.jpg') center no-repeat;
  background-size: 100% 100%;
}

#pinDetails {
  padding: 100px;
  text-align: center;
}

.details-buttons {
  float: right;
}

.table-btn {
  margin-right: 0.5em;
}

#issue-create-form {
  display: none;
}

